<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <section class="section_row">
        <section class="container_sefaz">
            <div class="sefaz">
                <h3>MONITOR E GSURF</h3>
                <a href="https://parceiros.gsurfnet.com/login/login" target="_blank">GSURF</a>
                <a href="https://monitor.tecnospeed.com.br/?&filter-uf=mt&filter-doc=nfe&filter-type-chart=bar" target="_blank">MOINTOR SEFAZ</a>
                <a href="https://downdetector.com.br/?_gl=1*873mws*_up*MQ..*_ga*MjA5NTI5ODg5MC4xNzU5MTU2MzUy*_ga_0PZM58H213*czE3NTkxNTYzNTEkbzEkZzEkdDE3NTkxNTY0OTQkajYwJGwwJGgw" target="_blank">MONITOR - OPERADORAS DOWNDETECTOR</a>
                <a href="https://monitor.zorte.com.br/nfce" target="_blank">ZORTE MONITOR SEFAZ</a>
                <a href="https://integranotas.com.br/doc/sefaz/monitor" target="_blank">INTEGRA MONITOR SEFAZ</a>

            </div>
        </section>

        <section class="container_nfce_nfe">
            <div class="nfce_nfe">
                <h3>NOTAS FISCAIS DE CUPOM E NFE</h3>
                <a href="https://www.sefaz.mt.gov.br/nfce/consultainutilizacaonfce" target="_blank">NFC-e INUTILIZAÇÕES</a>
                <a href="https://www.sefaz.mt.gov.br/nfce/consultanfce" target="_blank">NFC-e CONSULTA</a>
                <a href="https://www.nfe.fazenda.gov.br/portal/consultaRecaptcha.aspx?tipoConsulta=resumo&tipoConteudo=7PhJ%20gAVw2g=" target="_blank">NF-e CONSULTA</a>
                <a href="https://www.cte.fazenda.gov.br/portal/consultaRecaptcha.aspx?tipoConsulta=resumo&tipoConteudo=cktLvUUKqh0=" target="_blank">CT-e CONSULTA</a>
				<a href="https://www.sefaz.mt.gov.br/acesso/pages/login-certificado/login-certificado.xhtml" target="_blank">ACESSO WEB SEFAZ</a>
            </div>
        </section>

        <section class="container_NFSE">
            <div class="nfse">
                <h3>NOTAS FISCAIS DE SERVICOS</h3>
                <a href="https://nfse.rondonopolis.mt.gov.br/" target="_blank">NFSe AGIL SOFTWARE RONDONOPOLIS</a>
                <a href="https://onlinecba.issnetonline.com.br/cuiaba/Login/Login.aspx" target="_blank">NFSe ISSNET CUIABÁ</a>
                <a href="https://www.e-nfs.com.br/varzeagrande/index.jsp" target="_blank">NFSe VARZEA GRANDE</a>
                <a href="https://nfse.ji-parana.ro.gov.br/issweb//paginas/login.jsf" target="_blank">NFSe JI PARANA</a>
                <a href="https://cuiaba.notaeletronica.com.br/free/cuiaba/Login/Login_NFE.aspx" target="_blank">NFSe CUIABÁ</a>
                <a href="https://www.nfse.gov.br/EmissorNacional/" target="_blank">NFSe GOV</a>

            </div>
        </section>

        <section class="container_tabela_tributacao">
            <div class="tab_tributacao">
                <h3>TABELAS TRIBUTACOES / NCM</h3>
                <a href="https://www.policontcontabilidade.com.br/arquivos/TABELA%20CST%20ICMS%20-%20Lucro%20Presumido%20e%20Lucro%20Real.pdf" target="_blank">TABELA TRIBUTACAO CST - LUCRO PRESUMIDO/REAL</a>
                <a href="https://www.policontcontabilidade.com.br/arquivos/1473118140_TABELA%20CST%20ICMS%20-%20Simples%20Nacional.pdf" target="_blank">TABELA CSOSN - SIMPLES NACIONAL</a>
                <a href="https://cdmcontabilidade.com.br/tabela-cst-pis-cofins/" target="_blank">TABELA CST - PIS / COFINS</a>
                <a href="https://cosmos.bluesoft.com.br/produtos/7896029046609-racao-whiskas-85g-adulto-carne-sache" target="_blank">NCM - BLUESOFT</a>
                <a href="https://dfe-portal.svrs.rs.gov.br/CFF/ClassificacaoTributaria" target="_blank">CÓDIGO DE CLASSIFICAÇÃO E CST - GOV</a>
                
            </div>

        </section>

        <section>
            <div class="container_hetosoft">
                <h3>HETOSOFT</h3>
                <a href="https://www.hetosoft.com.br/Arquivos/Manual/padronizacoes.htm?ms=fxsAAABcA0AIagJYASRgIA%3D%3D&st=MA%3D%3D&sct=MA%3D%3D&mw=MzgxLjY5MTAwMDAwMDAwMDAz" target="_blank">MANUAL - HETOSOFT</a>
                <a href=https://app.powerbi.com/view?r=eyJrIjoiNGQ4YTcxNmMtMzdhNC00Mzc5LTllM2EtMjY1MTM3NWQyZDgyIiwidCI6IjZmNDlhYTQzLTgyMmEtNGMyMC05NjcwLWRiNzcwMGJmMWViMCJ9&pageName=608609c2e0a53d7a3c6e" target="_blank">PORTAL CIDADE/ESTADO NFSE - GOV</a>
            </div>
        </section>
		
		
    </section>
</body>
</html>